.s-1 {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}
.video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.h1 {
  position: absolute;
  top: 25%;
  left: 0;
  width: 100%;
}
.color-verlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0c002b;
  opacity: 75%;
}

a.btn {
  padding: 13px 20px;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  position: relative;
  overflow: hidden;
  color: #1670f0;
  margin-bottom: 2rem;
}

a.btn::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  background: rgba(255, 255, 255, 0.05);
  width: 50%;
}

a.btn span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #0c002b, #1779ff);
  animation: animate_1 2s linear infinite;
}

@keyframes animate_1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

a.btn span:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to bottom, #0c002b, #1779ff);
  animation: animate_2 2s linear infinite;
  animation-delay: 1s;
}

@keyframes animate_2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

a.btn span:nth-child(3) {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to left, #0c002b, #1779ff);
  animation: animate_3 2s linear infinite;
  animation-delay: 2s;
}

@keyframes animate_3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

a.btn span:nth-child(4) {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to top, #0c002b, #1779ff);
  animation: animate_4 2s linear infinite;
  animation-delay: 3s;
}

@keyframes animate_4 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
img {
  max-width: 100%;
}
.o-2 {
  position: relative;
}
.o-2-o {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0c002b;
  opacity: 40%;
  z-index: -1;
}
img {
  width: 155px;
  margin-top: 20px;
}
.black {
  filter: grayscale(100%);
  opacity: 50%;
}
.opr {
  opacity: 2%;
}

/* box animation */
.box {
  position: relative;
  height: auto;
  width: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  /* border-radius: 20px; */
  padding: 5px 0px;
  margin-left: 10px;
  margin-right: 10px;
}
.box::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 790%;
  background: linear-gradient(#00ccff, #d400d4);
  animation: animate 4s linear infinite;
}
img {
  z-index: 10000;
}
.box::after {
  content: "";
  position: absolute;
  background: #0e1538;
  inset: 2px;
  /* border-radius: 15px; */
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(350deg);
  }
}
/* responstive */
@media only screen and (max-width: 765px) {
  .h1 {
    top: 3%;
    left: 2px;
    bottom: 0;
  }
  a.btn {
    padding: 6px 4px;
    font-size: 10px;
    letter-spacing: 1px;
  }
  img {
    width: 120px;
  }
  .black {
    opacity: 20%;
  }
}
@media only screen and (max-width: 600px) {
  img {
    width: 120px;
    margin-top: 0px;
  }
  .h1 {
    top: 1px;
  }
  a.btn {
    margin-bottom: 5px;
  }
  .box {
    width: 130px;
    text-align: center;
  }
}
@media only screen and (max-width: 575px) {
  a.btn {
    margin-bottom: 9px;
  }
  img {
    width: 50px;
    margin-top: 20px;
  }
  a.btn {
    padding: 8px 5px;
    font-size: 14px;
    letter-spacing: 1px;
  }
}
.op1 {
  opacity: 0;
}
@media (min-aspect-ratio: 16/9) {
  .video {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .video {
    width: auto;
    height: 100%;
  }
}
